if SHIELD_ANNA_BUTTER_LEFT

config ZMK_KEYBOARD_NAME
    default "Anna Butter"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y
endif

if SHIELD_ANNA_BUTTER_LEFT || SHIELD_ANNA_BUTTER_RIGHT

config ZMK_SPLIT
    default y
endif