/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

/*
 * ┌───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬─────┐
 * │ ^ │ 1 │ 2 │ 3 │ 4 │ 5 │ 6 │ 7 │ 8 │ 9 │ 0 │ ß │ ´ │     │
 * ├───┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬───┤
 * │     │ Q │ W │ E │ R │ T │ Z │ U │ I │ O │ P │ Ü │ + │   │
 * ├─────┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┐  │
 * │      │ A │ S │ D │ F │ G │ H │ J │ K │ L │ Ö │ Ä │ # │  │
 * ├────┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴───┴──┤
 * │    │ < │ Y │ X │ C │ V │ B │ N │ M │ , │ . │ - │        │
 * ├────┴┬──┴─┬─┴───┼───┴───┴───┴───┴───┴───┼───┴─┬─┴──┬─────┤
 * │     │    │     │                       │     │    │     │
 * └─────┴────┴─────┴───────────────────────┴─────┴────┴─────┘
 */
// Row 1
#define DE_CIRC GRAVE // ^ (dead)
#define DE_SS   MINUS // ß
#define DE_ACUT EQUAL // ´ (dead)

// Row 2
#define DE_Q    Q            // Q
#define DE_W    W            // W
#define DE_E    E            // E
#define DE_R    R            // R
#define DE_T    T            // T
#define DE_Z    Y            // Z
#define DE_U    U            // U
#define DE_I    I            // I
#define DE_O    O            // O
#define DE_P    P            // P
#define DE_UDIA LEFT_BRACKET // Ü
#define DE_PLUS RIGHT_BRACKET // +

// Row 3
#define DE_A    A            // A
#define DE_S    S            // S
#define DE_D    D            // D
#define DE_F    F            // F
#define DE_G    G            // G
#define DE_H    H            // H
#define DE_J    J            // J
#define DE_K    K            // K
#define DE_L    L            // L
#define DE_ODIA SEMICOLON    // Ö
#define DE_ADIA SINGLE_QUOTE // Ä
#define DE_HASH NON_US_HASH  // #

// Row 4
#define DE_LABK NON_US_BACKSLASH // <
#define DE_Y    Z                // Y
#define DE_X    X                // X
#define DE_C    C                // C
#define DE_V    V                // V
#define DE_B    B                // B
#define DE_N    N                // N
#define DE_M    M                // M
#define DE_COMM COMMA            // ,
#define DE_DOT  PERIOD           // .
#define DE_MINS SLASH            // -

/* Shifted symbols
 * ┌───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬─────┐
 * │ ° │ ! │ " │ § │ $ │ % │ & │ / │ ( │ ) │ = │ ? │ ` │     │
 * ├───┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬───┤
 * │     │   │   │   │   │   │   │   │   │   │   │   │ * │   │
 * ├─────┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┐  │
 * │      │   │   │   │   │   │   │   │   │   │   │   │ ' │  │
 * ├────┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴───┴──┤
 * │    │ > │   │   │   │   │   │   │   │ ; │ : │ _ │        │
 * ├────┴┬──┴─┬─┴───┼───┴───┴───┴───┴───┴───┼───┴─┬─┴──┬─────┤
 * │     │    │     │                       │     │    │     │
 * └─────┴────┴─────┴───────────────────────┴─────┴────┴─────┘
 */
// Row 1
#define DE_DEG  LS(DE_CIRC) // °
#define DE_EXLM LS(NUMBER_1)    // !
#define DE_DQUO LS(NUMBER_2)    // "
#define DE_SECT LS(NUMBER_3)    // §
#define DE_DLR  LS(NUMBER_4)    // $
#define DE_PERC LS(NUMBER_5)    // %
#define DE_AMPR LS(NUMBER_6)    // &
#define DE_SLSH LS(NUMBER_7)    // /
#define DE_LPRN LS(NUMBER_8)    // (
#define DE_RPRN LS(NUMBER_9)    // )
#define DE_EQL  LS(NUMBER_0)    // =
#define DE_QUES LS(DE_SS)   // ?
#define DE_GRV  LS(DE_ACUT) // ` (dead)
// Row 2
#define DE_ASTR LS(DE_PLUS) // *
// Row 3
#define DE_QUOT LS(DE_HASH) // '
// Row 4
#define DE_RABK LS(DE_LABK) // >
#define DE_SCLN LS(DE_COMM) // ;
#define DE_COLN LS(DE_DOT)  // :
#define DE_UNDS LS(DE_MINS) // _

/* Alted symbols
 * ┌───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬─────┐
 * │ „ │ ¡ │ “ │ ¶ │ ¢ │ [ │ ] │ | │ { │ } │ ≠ │ ¿ │   │     │
 * ├───┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬───┤
 * │     │ « │ ∑ │ € │ ® │ † │ Ω │ ¨ │ ⁄ │ Ø │ π │ • │ ± │   │
 * ├─────┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┐  │
 * │      │ Å │ ‚ │ ∂ │ ƒ │ © │ ª │ º │ ∆ │ @ │ Œ │ Æ │ ‘ │  │
 * ├────┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴───┴──┤
 * │    │ ≤ │ ¥ │ ≈ │ Ç │ √ │ ∫ │ ~ │ µ │ ∞ │ … │ – │        │
 * ├────┴┬──┴─┬─┴───┼───┴───┴───┴───┴───┴───┼───┴─┬─┴──┬─────┤
 * │     │    │     │                       │     │    │     │
 * └─────┴────┴─────┴───────────────────────┴─────┴────┴─────┘
 */
// Row 1
#define DE_LBRC LA(NUMBER_5)    // [
#define DE_RBRC LA(NUMBER_6)    // ]
#define DE_PIPE LA(NUMBER_7)    // |
#define DE_LCBR LA(NUMBER_8)    // {
#define DE_RCBR LA(NUMBER_9)    // }
#define DE_AT LA(DE_L)    // @
#define DE_EURO LA(DE_E)    // €
#define DE_TILD LA(DE_N)    // ~

/* Shift+Alted symbols
 * ┌───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬─────┐
 * │   │ ¬ │ ” │   │ £ │ ﬁ │   │ \ │ ˜ │ · │ ¯ │ ˙ │ ˚ │     │
 * ├───┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬───┤
 * │     │ » │   │ ‰ │ ¸ │ ˝ │ ˇ │ Á │ Û │   │ ∏ │   │  │   │
 * ├─────┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┐  │
 * │      │   │ Í │ ™ │ Ï │ Ì │ Ó │ ı │   │ ﬂ │   │   │   │  │
 * ├────┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴───┴──┤
 * │    │ ≥ │ ‡ │ Ù │   │ ◊ │ ‹ │ › │ ˘ │ ˛ │ ÷ │ — │        │
 * ├────┴┬──┴─┬─┴───┼───┴───┴───┴───┴───┴───┼───┴─┬─┴──┬─────┤
 * │     │    │     │                       │     │    │     │
 * └─────┴────┴─────┴───────────────────────┴─────┴────┴─────┘
 */
// Row 1
#define DE_BSLS LS(LA(NUMBER_7))    // (backslash)

#define DEFAULT 0
#define ALPHA_2 1
#define SYM_ONE 2
#define SYM_TWO 3
#define NUM_ONE 4
#define NAV_ONE 5
#define NAV_TWO 7
#define FUN_ONE 8
#define FUN_TWO 9

&mt {
    tapping-term-ms = <300>;
    flavor = "tap-preferred";
};

&mmv {   
    time-to-max-speed-ms = <500>;
    acceleration-exponent=<2>;
};

&mwh {
    acceleration-exponent=<2>;
    time-to-max-speed-ms = <500>;
};

/ {

    behaviors {
        // START MOD MORPH
        space_back: space_back {
            compatible = "zmk,behavior-mod-morph";
            label = "space_back";
            #binding-cells = <0>;
            bindings = <&kp SPACE>, <&kp BACKSPACE>;
            mods = <(MOD_LSFT)>;
        };

        one_tab: one_tab {
            compatible = "zmk,behavior-mod-morph";
            label = "one_tab";
            #binding-cells = <0>;
            bindings = <&to DEFAULT>, <&kp TAB>;
            mods = <(MOD_LSFT)>;
        };
        // END MOD MORPH

    };

    combos {
        compatible = "zmk,combos";

        sym {
            timeout-ms = <150>;
            key-positions = <16 36>;
            bindings = <&to SYM_ONE>;
        };

        num {
            timeout-ms = <150>;
            key-positions = <15 34>;
            bindings = <&to NUM_ONE>;
        };

        nav {
            timeout-ms = <150>;
            key-positions = <14 34>;
            bindings = <&to NAV_ONE>;
        };

        fun {
            timeout-ms = <150>;
            key-positions = < 13 36>;
            bindings = <&to FUN_ONE>;
        };
    };
};

#define _____ &none

/ {
    keymap {
        compatible = "zmk,keymap";

        alpha_one {
            bindings = <
            _____ _____          &kp DE_L       &kp DE_U       &kp DE_A      _____                               _____     &kp DE_B      &kp DE_D       &kp DE_G       _____         _____
            _____ &mt LALT DE_C  &mt LSHFT DE_R &mt LCTRL DE_I &mt LGUI DE_E _____                               _____     &mt LGUI DE_N &mt LCTRL DE_T &mt LSHFT DE_S &mt LALT DE_H _____
            _____ _____          _____          &kp DE_O       &sl ALPHA_2   &space_back _____ _____ _____ _____ &sk LSHFT &sl ALPHA_2   &kp DE_M       _____          _____         _____
                                                _____          _____         _____       _____ _____ _____ _____ _____     _____         _____
            >;
        };


        alpha_two {
            bindings = <
            _____ _____          &kp DE_ODIA    &kp DE_UDIA    &kp DE_ADIA   _____                            _____     &kp DE_W      &kp DE_Y       &kp DE_Q       _____          _____
            _____ &mt LALT DE_V  &mt LSHFT DE_X &mt LCTRL DE_Z &mt LGUI DE_J _____                            _____     &mt LGUI DE_P &mt LCTRL DE_F &mt LSHFT DE_K &mt LALT DE_SS _____
            _____ _____          _____          &kp ENTER      &kp DE_DOT    &one_tab _____ _____ _____ _____ &sk LSHFT &kp DE_COMM   &kp ESCAPE     _____          _____          _____
                                                _____          _____         _____    _____ _____ _____ _____ _____     _____         _____
            >;
        };

       sym_one {
            bindings = <
            _____ _____             &kp DE_SCLN       &kp DE_DQUO       &kp DE_QUOT      _____                               _____       &kp DE_EXLM      &kp DE_QUES       &kp DE_COLN       _____            _____
            _____ &mt LALT DE_LABK  &mt LSHFT DE_LBRC &mt LCTRL DE_LCBR &mt LGUI DE_LPRN _____                               _____       &mt LGUI DE_RPRN &mt LCTRL DE_RCBR &mt LSHFT DE_RBRC &mt LALT DE_RABK _____
            _____ _____             _____             &kp DE_DLR        &to SYM_TWO        &to DEFAULT _____ _____ _____ _____ &kp DE_MINS &to SYM_TWO      &kp DE_UNDS       _____             _____            _____
                                                      _____             _____            _____       _____ _____ _____ _____ _____       _____         _____
            >;
        };

       sym_two {
            bindings = <
            _____ _____             &kp DE_TILD       &kp DE_PIPE       &kp DE_HASH      _____                              _____       &kp DE_ACUT      &kp DE_DEG        &kp DE_CIRC      _____            _____
            _____ &mt LALT DE_EURO  &mt LSHFT DE_BSLS &mt LCTRL DE_SLSH &mt LGUI DE_ASTR _____                              _____       &mt LGUI DE_PERC &mt LCTRL DE_AMPR &mt LSHFT DE_EQL &mt LALT DE_GRV _____
            _____ _____             _____             &none             &to SYM_ONE     &to DEFAULT _____ _____ _____ _____ &kp DE_PLUS &to SYM_ONE      &kp DE_UNDS       _____            _____            _____
                                                      _____             _____           _____       _____ _____ _____ _____ _____       _____         _____
            >;
        };

       num_one {
            bindings = <
            _____ _____       &kp DE_EQL   &kp DE_PLUS  &kp DE_MINS _____                               _____        &kp DE_ASTR      &kp DE_SLSH  &kp BACKSPACE _____       _____
            _____ &mt LALT N1 &mt LSHFT N2 &mt LCTRL N3 &mt LGUI N4 _____                               _____        &mt LGUI N7      &mt LCTRL N8 &mt LSHFT N9  &mt LALT N0 _____
            _____ _____       _____        _____        &kp N5      &to DEFAULT _____ _____ _____ _____ &kp DE_COMM  &kp N6 &kp ENTER &kp DE_DOT   _____         _____
                                           _____        _____       _____       _____ _____ _____ _____ _____        _____            _____
            >;
        };

        nav_one {
            bindings = <
            _____ _____       _____            _____               _____          _____                               _____       _____         &kp END        &kp HOME     _____          _____
            _____ &mt LALT TAB &mt LSHFT ENTER &mt LCTRL BACKSPACE &mt LGUI SPACE _____                               _____       &mt LGUI LEFT &mt LCTRL DOWN &mt LSHFT UP &mt LALT RIGHT _____
            _____ _____       _____            _____               &kp ESCAPE     &to DEFAULT _____ _____ _____ _____ &to NAV_TWO _____         &kp PG_DN      &kp PG_UP    _____          _____
                                               _____               _____          _____       _____ _____ _____ _____ _____       _____            _____
            >;
        };

        nav_two {
            bindings = <
            _____ _____             _____            _____          &kp LCLK          _____                               _____ _____          &kp LGUI       &kp LCTRL    _____           _____
            _____  &mwh SCROLL_LEFT &mwh SCROLL_DOWN &mwh SCROLL_UP &mwh SCROLL_RIGHT _____                               _____ &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_UP &mmv MOVE_RIGHT _____
            _____ _____             _____            _____          &kp RCLK          &to DEFAULT _____ _____ _____ _____ _____ _____          &kp LALT       &kp LSHFT    _____           _____
                                                     _____          _____             _____       _____ _____ _____ _____ _____ _____          _____
            >;
        };

        fun_one {
            bindings = <
            _____ _____      _____      _____        &kp C_PLAY_PAUSE _____                               _____       _____      _____        _____        _____ _____
            _____ &kp C_PREV &kp C_NEXT &kp C_VOL_DN &kp C_VOL_UP     _____                               _____       &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 _____ _____
            _____ _____      _____      _____        &kp C_MUTE       &to DEFAULT _____ _____ _____ _____ &to FUN_TWO _____      _____        _____        _____ _____
                                        _____          _____             _____    _____ _____ _____ _____ _____       _____      _____
            >;
        };

        fun_two {
            bindings = <
            _____ _____       _____         _____        _____       _____                               _____ _____       _____        _____        _____        _____
            _____ &mt LALT F1 &mt F2 C_NEXT &mt LCTRL F3 &mt LGUI F4 _____                               _____ &mt LGUI F7 &mt LCTRL F8 &mt LSHFT F9 &mt LALT F10 _____
            _____ _____       _____         _____        &kp F5      &to DEFAULT _____ _____ _____ _____ _____ &kp F6      &kp F11      &kp F12      _____        _____
                                            _____        _____       _____       _____ _____ _____ _____ _____ _____      _____
            >;
        };

    };
};