if SHIELD_ANNA_7_LEFT

config ZMK_KEYBOARD_NAME
    default "Anna 7"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y
endif

if SHIELD_ANNA_7_LEFT || SHIELD_ANNA_7_RIGHT

config ZMK_SPLIT
    default y
endif