if SHIELD_WEIRDO_LEFT

config ZMK_KEYBOARD_NAME
    default "Anna Weirdo"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y
endif

if SHIELD_WEIRDO_LEFT || SHIELD_WEIRDO_RIGHT

config ZMK_SPLIT
    default y
endif