if SHIELD_LASAGNA_LEFT

config ZMK_KEYBOARD_NAME
    default "Anna Lasagna"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y
endif

if SHIELD_LASAGNA_LEFT || SHIELD_LASAGNA_RIGHT

config ZMK_SPLIT
    default y
endif