# Copyright (c) 2022 Karl Grasegger
# SPDX-License-Identifier: MIT

if NRF52820

config ZMK_KEYBOARD_NAME
	default "NRF52820"

if USB_DEVICE_STACK

config USB_NRFX
	default y

endif # USB_DEVICE_STACK

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

endif # NRF52820